---
---


body{
  padding: 0px;
  margin: 0px;
  line-height: 1.6;
  color: #666;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: #000;
  &:hover{
    text-decoration: none;
  }
}

*{
  box-sizing: border-box;
}

img{
  width: 100%;
}

header{
  background-image: url(/assets/img/header.png);
  background-size: cover;
  position: relative;
}

.l-box {
  padding: 2em;
}

.logo{
  width: 25%;
}

.bolt{
  width: 70px;
}

footer{
  text-align: center;
  background: #010101;
  padding: 2em;
  color: #fff;
  a{
    color: #fff;
  }
}

em{
  font-size: 1.6em;
  font-family: georgia;
}

h1,h2,h3,h4,h4,h5,h6{
  color: #010101;
  letter-spacing: -1px;
}

h1{
  line-height: 1.2;
}

.measure{
  max-width: 800px;
  margin: auto;
}

.footer-top{
  padding: 2em;
  background: #f5f5f5;
  text-align: center;
}



.main-menu{
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 2em;
  padding-bottom: 0px;
  margin: 0px;

  .button{
    display: inline-block;
    line-height: 20px;

    padding: 14px;
    padding-left: 20px;
    padding-right: 20px;

    background: #fff;

  }

}


.table-wrapper{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  table{
    min-width: 344px;
    width: 100%;
    tr td:first-child{
      width: 155px;
    }
  }
}

.intro{
  max-width: 480px;
}

// .top{
//   position: relative;
//   overflow: hidden;
//   &__button{
//     display: block;
//     width: 50%;
//     float: left;
//     text-align: center;
//     color: #fff;
//     &--strava{
//       background: #fc4c02;
//     }
//     &--facebook{
//       background: #3b5998;
//     }
//   }
// }
