---
---
body{
  padding: 0px;
  margin: 0px;
  line-height: 1.6;
  color: #666;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: #000;
  &:hover{
    text-decoration: none;
  }
}

img{
  width: 100%;
}

header{
  background-image: url(/assets/img/header.png);
  background-size: cover;
}

.l-box {
  padding: 2em;
}

.logo{
  width: 25%;
}

.bolt{
  width: 70px;
}

footer{
  text-align: center;
  background: #010101;
  padding: 2em;
  color: #fff;
  a{
    color: #fff;
  }
}

em{
  font-size: 1.6em;
  font-family: georgia;
}

h1,h2,h3,h4,h4,h5,h6{
  color: #010101;
  letter-spacing: -1px;
}

h1{
  font-size: 3em;
  line-height: 1.2;
}

[role=main]{
  text-align: center;
}

.measure{
  max-width: 800px;
  margin: auto;
  text-align: left;
}

.footer-top{
  padding: 2em;
  background: #f5f5f5;
  text-align: center;
}
