---
---

$hilight: #8a2291; // purple
$dark: #010101; // almost black

body{
  padding: 0px;
  margin: 0px;
  line-height: 1.6;
  color: $dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: $hilight;
  &:hover{
    text-decoration: none;
  }
}

*{
  box-sizing: border-box;
}

.header{
  background-image: url(/assets/img/header.png);
  background-size: cover;
  position: relative;
}


.logo{
  width: 25%;
  &--bolt{
    width: 70px;
  }
}

.footer{
  text-align: center;
  background: #010101;
  &__top{
    padding: 2em;
    background: #ddd;
  }
  &__base{
    padding: 2em;
    color: #fff;
    a{
      color: #fff;
    }
  }
}

h1,h2,h3,h4,h4,h5,h6{
  color: #010101;
  letter-spacing: -1px;
}

h1,h2{
  line-height: 1.2;
}

.measure{

}


.section{
  display: block;
  &--key-line{
    border-bottom: solid 3px #eee;
  }
  &__measure{
    max-width: 740px;
    margin: auto;
  }
  &--intro{
    font-size: 1.2em;
    background-color: #f5f5f5;
  }
  &--strava{
    background-color: #f5f5f5;
  }
  &--banner{
    background-color: $hilight;
    text-decoration: none;
    color: #fff;
    text-align: center;
    &__heading{

    }
  }
}


.button{
  display:inline-block;
  text-decoration:none;
  background-color:#010101;
  color:white;
  cursor:pointer;

  line-height: 1;

  margin:0;
  padding:12px 28px;

  font-weight:bold;

  &--light{
    background-color: $hilight;
  }

}

.u{

  &-l-box{
    padding: 2em;
    &--half{
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  &-table-wrapper{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    table{
      min-width: 344px;
      width: 100%;
      tr td:first-child{
        width: 155px;
      }
    }
  }

  &-figure{
    padding: 0px;
    margin: 0px;
    &--reponsive{
      img{
        margin-top: 0.83em;
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}


@media only screen and (max-width : 1024px) {
  .classname {
      /* other styles here */
  }
}
